################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IGME235/FileContentIndex
/.vs/IGM235/FileContentIndex
