figure{
    max-width: 650px;
    margin-right:auto;
    margin-left:auto;
    img{ width: 100%; }
}
header, main, footer{
    width: 90vw;
    margin-right:auto;
    margin-left:auto;
}
#tetlist{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    div{
        flex: 1 0 450px;
        img{width: 60%;}
    }
}
span{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
